
.main{
  display: flex;
  align-items: center;
  border: 2px solid rgb(245, 243, 243);

}
.header{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 32px;
    
}
.list{
  margin: 10px;

}
select#list1 {
  border: none;
  font-size: 15px;
}
img {
 
    padding-left: 8px;
    margin-left: 9px;
    margin-top: 12px;

}
.image{
padding-top: 5px;
}
button.btn {
  background-color: blue;
  color: aliceblue;
  border-radius: 7px;
  border: none;
  /* margin-left: 328px; */
  height: 40px;
}
.btn1{
  background-color: orangered;
  color: white;
  border-radius: 50%;
  border: navajowhite;
    margin-left: 10px;
    height: 31px;
    width: 33px;
}
.create_a_design .btn {
  margin-left: 161px;
 
}
input[type="search"] {
  height: 32px;
  width: 235px;
  border: none;
}
.search {
  margin: 5px;
 
  border: 2px solid #f4f0ee;
}

/* ////////// */



.fsl h3{
  height: 30px;
  width: 30px;
  background-color: gainsboro;
  border-radius: 50%;
  padding-top: 7px;
    padding-left: 5px;
    font-size: 18px;
}

.left{
  display: flex;
  position: relative;
  height: 71px;
  width: 314px;
    border: 2px solid #f4f0ee;
    border-radius: 8px;
    margin-top: 22px;
}
.fslcreativity h4{
 
    padding-top: 6px;

}
h5 {
  margin-top: -16px;
}

.fslcreativity img{
  position: absolute;
  left: 52px;
  top: 40px;
  height: 17px;
}
.fslcreativity h6{
  position: absolute;
  left: 90px;
  top: 28px;
}

.columns h4 img {
  height: 30px;
  width: 30px;
  margin-left: -4px;
  margin-top: -29px;
}

.columns {
  border: 2px solid #f4f0ee;
  width: 314px;
  height: 46px;
  border-radius: 7px;
}

.home {
  border: 2px solid #f4f0ee;
  width: 314px;
  height: 46px;
  border-radius: 7px;
}

.home h4 img {
  height: 30px;
  width: 30px;
  margin-left: 32px;
  margin-top: -29px;
}

.star{
  /* border: 2px solid #f4f0ee; */
  width: 236px;
  height: 46px;
  /* border-radius: 7px; */
}

.star h4 img {
  height: 30px;
  width: 30px;
  margin-left: 32px;
  margin-top: -29px;
 
}
.star h4{
  background: linear-gradient(45deg ,rgb(30, 30, 231),rgb(35, 197, 225) ,rgb(216, 33, 233));
  -webkit-background-clip: text ;
  color: transparent;
}


.project{
  /* border: 2px solid #f4f0ee; */
  width: 236px;
  height: 46px;
  font-size: 14px;
  /* border-radius: 7px; */
}

.project h4 img {
  height: 31px;
  width: 30px;
  margin-left: 32px;
  margin-top: -29px;
  position: relative;
  top: 3px;
  left: 3px;
}


 




.App{
  /* border: 2px solid #f4f0ee; */
  width: 236px;
  height: 46px;
  font-size: 14px;
  /* border-radius: 7px; */
}

.App h4 img {
  height: 31px;
  width: 30px;
  margin-left: 32px;
  margin-top: -29px;
  position: relative;
  top: 3px;
  left: 3px;
}

/* .App h5 img {
  position: absolute;
  top: 351px;
  left: 254px;
} */
.invite{
  border: 2px solid #f4f0ee;
  width: 236px;
  height: 46px;
  font-size: 14px;
  border-radius: 7px;
}

.invite h4 img {
  height: 31px;
  width: 30px;
  margin-left: 32px;
  margin-top: -29px;
  position: relative;
  top: 3px;
  left: 3px;
}

.trash{
  /* border: 2px solid #f4f0ee; */
  width: 236px;
  height: 46px;
  font-size: 14px;
  /* border-radius: 7px; */
}

.trash h4 img {
  height: 31px;
  width: 30px;
  margin-left: 32px;
  margin-top: -29px;
  position: relative;
  top: 3px;
  left: 3px;
}




.Brand{
  /* border: 2px solid #f4f0ee; */
  width: 236px;
  height: 46px;
  font-size: 14px;
  /* border-radius: 7px; */
}

.Brand h4 img {
  height: 31px;
  width: 30px;
  margin-left: 32px;
  margin-top: -29px;
  position: relative;
  top: 3px;
  left: 3px;
}


.templates{
  /* border: 2px solid #f4f0ee; */
  width: 236px;
  height: 46px;
  font-size: 14px;
  /* border-radius: 7px; */
}

.templates h4 img {
  height: 31px;
  width: 30px;
  margin-left: 32px;
  margin-top: -29px;
  position: relative;
  top: 3px;
  left: 3px;
}





/* /////////right// */



.right {
  height: 382px;
  width: 919px;
  background: linear-gradient(45deg ,rgb(59, 59, 244),rgb(203, 23, 203) ,rgb(173, 11, 188));
  border: 10px;
  margin-left: 332px;
  color: white;
  margin-top: -576px;
  border-radius: 9px;
  /* display: flex; */
}
.right-button{
  display: flex;
  align-items: center;
}



.custom button {
  /* margin-left: 119px; */
  /* margin-top: 35px; */
  margin: 4px;
  height: 38px;
  width: 94px;
  background-color: mediumpurple;
  border: none;
  border-radius: 5px;
}

.custom button {
 
  margin: 7px;
  height: 45px;
  width: 94px;
  background-color: mediumpurple;
  border: none;
  border-radius: 5px;
  margin-left: 32px;
  margin-top: 29px;
}
.magic h3 {
  margin-left: 220px;
  margin-top: 55px;
  font-size: 47px;
}
.icon{
  position: relative;
}

.searchbar {
  text-align: center;
  border: 2px solid gray;
  background-color: white;
  width: 540px;
  border: none;
  border-radius: 7px;
  height: 55px;
  margin-left: 194px;
}
 input[type="search1"] {
  height: 40px;
  width: 445px;
  border: none;

}
/* .iconimage img{
  position: absolute; 
  left: 242px;
  top: 110px;
   margin-top: -200px;
} */ 

.iconimage ul  {
  display: flex;
  list-style: none;
  justify-content: center;
  
  
}
.iconimage ul li{
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: aliceblue;
  height: 55px;
  margin: 20px;
  width: 70px;
}

.iconimage ul li h3{
  font-size: 15px;
}

.scroll-container {
  width: 300px;
  height: 200px;
  overflow: auto;
  border: 1px solid #f4f0ee;
  padding: 10px;
}